<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href=" __ROOT__/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="__ROOT__/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="__ROOT__/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__ROOT__/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="__ROOT__/static/js/locales/bootstrap-datetimepicker.zh-TW.js" charset="UTF-8"></script>
</head>
<body>
<form action="{:url('add')}" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-5">
                <input type="text" name="username"  class="form-control" id="firstname" value="" placeholder="请输入名字">
            </div>
        </div>
    <div class="form-group">
        <label for="firstpass" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-5">
            <input type="text" name="userpass"  class="form-control" id="firstpass" value="" placeholder="请输入密码">
        </div>
    </div>
    <div class="form-group">
        <label for="firstscore" class="col-sm-2 control-label">成绩</label>
        <div class="col-sm-5">
            <input type="text" name="userscore" id="firstscore" class="form-control" value="" placeholder="请输入成绩">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">部门</label>
        <div class="col-sm-5">
           <select name="dep_id">
               <option value="1">生产</option>
               <option value="2">销售</option>
               <option value="1">管理</option>
           </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">时间</label>
        <div class="col-sm-5">
            <input type="text" name="usertime" id="datetimepicker" class="form-control" value="" placeholder="请输入时间">
        </div>
    </div>
    <input type="hidden" id="dtp_input1" value="" /><br/>
    </div>


    <p align="center"><input type="reset" class="btn btn-default" value="还原数据">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <input class="btn btn-default" type="submit" value="添加数据"></p>
</form>
</body>
</html>
    <script type="text/javascript">
        $('#datetimepicker').datetimepicker({
            language: 'zh-TW',
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose:true,
            minView: 0,
            minuteStep:10,
            todayHighlight: true
        });

</script>
<!--其中，”format”表示时间的格式：year month day hour min second;-->
<!--“minView”设置为0，表示可以选择小时和分钟，其他值有1,2,3,4.读者可以根据需要使用；-->
<!--“minuteStep”是选择分钟时显示的时间间隔，此处设置为1分钟；-->
<!--时钟不能用 自己清除缓存好了   2/26一早上排错心得-->